In [11]:
# 예제 1번
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [12]:
# 예제 2번
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()

Gizmo id: 138239296226640

In [13]:
y = Gizmo() * 10

Gizmo id: 138239296240416

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [14]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '_11',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [15]:
# 예제 3번
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

lewis is charles

True

In [16]:
id(charles), id(lewis)

(138239296371328, 138239296371328)

In [18]:
lewis['balance'] = 950  # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [19]:
# 예제 4번
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [20]:
alex is charles

False

In [21]:
# 예제 5번
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [22]:
id(t1[-1])

138239296352320

In [23]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 138239296352320)

In [24]:
t1 == t2

False

In [25]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [26]:
l2 == l1

True

In [27]:
l2 is l1

False

In [28]:
# 예제 6번
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [29]:
l2[1] += [33, 22]

l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [30]:
# 예제 7번
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [33]:
# 예제 8번
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(138239296241568, 138239296228176, 138239296226592)

In [34]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [35]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)
# bus1과 bus2가 동일 리스트를 공유한다. 반면 bus3는 다른 리스트를 가리킨다.

(138239295062080, 138239295062080, 138239296353408)

In [36]:
# 예제 9번
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [37]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [38]:
# 예제 10번
def f(a,b):
    a+= b
    return a

x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [39]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [40]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [41]:
# 예제 11번
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        # [] 가 interpret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게 되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [42]:
# 예제 12번
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [43]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [44]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [45]:
bus3 = HauntedBus()
bus3.passengers  # 초기값이 더이상 empty가 아님!

['Carrie']

In [46]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [47]:
bus2.passengers is bus3.passengers

True

In [48]:
bus1.passengers

['Bill', 'Charlie']

In [49]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [50]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
# bus2.passengers가 HauntedBus.__init__.__defaults__[0]에 바인딩된 별명임을 알 수 있다.

True

In [51]:
# 예제 13번
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers  # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [52]:
# 예제 14번
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team  # 선수단이 변경되어 버림

['Sue', 'Maya', 'Diana']

In [53]:
# 예제 15번
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [54]:
# 예제 16번
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [55]:
# 예제 17번
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [56]:
del s1
ender.alive

True

In [57]:
s2 = 'spam'

Gone with the wind...

In [58]:
ender.alive

False